<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/blog">Main Blog Page</a>
            <a href="/blog/newpost">Add a Blog Entry</a>
            <div style="float:right;"><a href="/login"> Log In</a></div><br>
            <div style="float:right;"><a href="/">Log Out</a></div>
        </nav>
        {% block content %}
        {% endblock %}
        
    </body>
</html>