<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <nav>
            {% if 'email' in session %}
            {{ session['email'] }}
            {% endif %}
            <a href="/">Home</a>
            <a href="/blog">Main Blog Page</a>
            <a href="/blog/newpost">Add a Blog Entry</a>
            <div style="float:right;"><a href="/logout">Log Out</a>
                                      <a href="/login">Log In</a></div> 
        </nav>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
        
    </body>
</html>